<h1>Listing {{listingId}}'s Details</h1>
<div class="alignment">
  <table class="styled-table">
    <thead>
        <tr>
            <th>Listing ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Address</th>
            <th>Price</th>
            <th>Created By</th>
            <th>Contact</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngIf="listingDetails">
            <td>{{listingDetails[0].listing_id}}</td>
            <td>{{listingDetails[0].listing_title}}</td>
            <td>{{listingDetails[0].description}}</td>
            <td>{{listingDetails[0].street}}, {{listingDetails[0].city}}, {{listingDetails[0].postal_code}}</td>
            <td>{{listingDetails[0].price}}</td>
            <td>{{listingDetails[0].username}}</td>
            <td>{{listingDetails[0].email}}</td>
          </tr>
    </tbody>
  </table>

<h1>Booking Listing {{listingId}}</h1>
<form [formGroup]="bookListingForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
          <mat-form-field appearance="fill">
            <mat-label>Booking ID</mat-label>
            <input matInput formControlName="booking_id">
          </mat-form-field><br/>
          <mat-form-field appearance="fill">
            <mat-label>Booking Start Date</mat-label>
            <input matInput formControlName="booking_start" type="date">
          </mat-form-field><br/>
          <mat-form-field appearance="fill">
            <mat-label>Booking End Date</mat-label>
            <input matInput formControlName="booking_end" type="date">
          </mat-form-field><br/>
          <mat-card-actions fxLayoutAlign="center center" fxLayout="column">
            <button mat-raised-button color="primary" type="submit">Create Booking</button>
          </mat-card-actions>
    </mat-card>
</form>
</div>