<h1>Search Listings</h1>
<div>
    <mat-card class="example-card">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div>
                <h2>Search by name, city or postal code</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput formControlName="term" type="search">
                </mat-form-field><br />
                <mat-card-actions fxLayoutAlign="center center" fxLayout="column">
                    <button mat-raised-button color="primary" type="submit">Search</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card>
</div>
<br />

<div *ngIf="numOfResults === 0 && showResults"><h1>No Listings Found</h1></div>
    <div *ngIf="numOfResults !== 0 && showResults"><h1>Results For: {{term}} &lpar;{{numOfResults}} Results &rpar;</h1></div>

    <div class="alignment">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Listing ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Created By</th>
                    <th>Contact</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listing of listings">
                    <td>{{listing.listing_id}}</td>
                    <td>{{listing.listing_title}}</td>
                    <td>{{listing.description}}</td>
                    <td>{{listing.street}}, {{listing.city}}, {{listing.postal_code}}</td>
                    <td>{{listing.price}}</td>
                    <td>{{listing.username}}</td>
                    <td>{{listing.email}}</td>
                  </tr>
            </tbody>
          </table>
</div>