<h1>Search Listings</h1>
<div>
    <mat-card class="example-card">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div>
                <h2>Search by name, city or postal code</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input matInput formControlName="term" type="search">
                </mat-form-field><br />
                <mat-card-actions fxLayoutAlign="center center" fxLayout="column">
                    <button mat-raised-button color="primary" type="submit">Search</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card>
</div>
<br />

<div *ngIf="numOfResults === 0 && showResults"><h1>No Listings Found</h1></div>
    <div *ngIf="numOfResults !== 0 && showResults"><h1>Results For: {{term}} &lpar;{{numOfResults}} Results &rpar;</h1></div>

    <div class="alignment">
    <div *ngFor="let listing of listings">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{listing.listing_title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Listing ID: {{listing.listing_id}}</p>
            <p>Description: {{listing.description}}</p>
            <p>Street: {{listing.street}}</p>
            <p>City: {{listing.city}}</p>
            <p>Postal Code: {{listing.postal_code}}</p>
            <p>Price: {{listing.price}}</p>
            <p>Email: {{listing.email}}</p>
            <p>Username: {{listing.username}}</p>
        </mat-card-content>
    </mat-card>
    <br>
    </div>
</div>