<h2 *ngIf="loggedIn">Greetings, {{username}}</h2>
<h2 *ngIf="!loggedIn">Greetings, Guest!</h2>
<h1>Listings</h1>
<div class="alignment">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Listing ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Address</th>
                <th>Price</th>
                <th>Created By</th>
                <th>Contact</th>
                <th></th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let listing of listings">
                <td>{{listing.listing_id}}</td>
                <td>{{listing.listing_title}}</td>
                <td>{{listing.description}}</td>
                <td>{{listing.street}}, {{listing.city}}, {{listing.postal_code}}</td>
                <td>{{listing.price}}</td>
                <td>{{listing.username}}</td>
                <td>{{listing.email}}</td>
                <td>
                  <button *ngIf="loggedIn" mat-raised-button color="primary" routerLink="/listing-details/{{listing.listing_id}}">Book</button>
                  <button *ngIf="!loggedIn" mat-raised-button color="primary" routerLink="/login">Log In To Book</button>
                </td>
              </tr>
        </tbody>
      </table>
    
<br/>
</div>